.Login-Container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 10;
    top: 18%;
    background-color: rgb(250, 248, 248);
    min-height: 150px;
    max-width: 30rem;
    /* gap: 40px; */
    padding: 5px  0px;
    border-radius: 10px;

    

}

.backgroundcolor{
    position: fixed;
    z-index: 10;
    background-color: rgba(26, 23, 23, 0.767);
    height: 100%;
    width: 100%;
}

.background{
    display: flex;
    justify-content: center;
}

.Login-text{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 0px 20px;
    margin: 0;
    gap: 220px;

}
.Login-text svg{
    cursor: pointer;
}

.Input{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}
.Input input{
    width: 23.5rem;
    padding: 10px 10px;
    font-size: 18px;
    border-radius: 5px;
    border-color: rgba(128, 128, 128, 0.219);

}


.signin-option{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}
.signin-option button{
    width: 25rem;
    padding: 10px;
}

#first{
    background-color: rgb(235, 30, 30);
    color: white;
    font-size:17px ;
    border-style: none;
    border-radius: 5px;
}

.signin-option svg{
    width: 1rem;
}
#second{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-color: rgba(128, 128, 128, 0.158);
}

.login{
    display: flex;
    /* justify-content: flex-start; */
    align-items: center;
    width: 100%;
    padding-left: 60px;
    padding-top: 20px;
    padding-bottom: 10px;
    

}
.login :nth-child(2){
    color: red;
}


.line{
    margin-top: 20px;
    background-color: rgb(197, 196, 196);
    width: 25rem;
    height: 0.01rem;
}